

.nav ul {
  list-style: none;
  padding: 0;
  display: flex;

}

.nav ul li {
  width: 100%;
  background-color: gold;

}

.nav ul li a {
  text-decoration: none;
  display: block;
  padding: 7px;
  font-weight: bolder;
  color: #000;
  text-align: center;

}

.nav ul li a:hover {
  background-color: rebeccapurple;
  color: white;
}

.container1 {
  text-align: center;
}

.error404 {

  margin-top: 7em;
  width: 50vh;
}

.error-text {

  font-size: 4vw;
}

.user-container {
  border-radius: 7px;
  border: 2px solid rebeccapurple;
  padding: 1em;
  margin: 2em;
  margin-top: 3em;
}

.user-img {
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.grid2 {
  text-align: center;
}

.all {
  margin-top: 2em;
}

/* PAGINATE NUMBERS */
.paginateNav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
   align-items: center;
}

.paginateNav ul li {

  background-color: gold;
}

.paginateNav ul li a {
  text-decoration: none;
  padding: 9px;
  font-weight: bolder;
 display: block;
text-align: center;

}

.paginateNav ul li a:hover {
  background-color: rebeccapurple;
  color: white;
}

.contact-cont{
text-align: center;
margin: auto;
  border:1px solid rebeccapurple ;
  width: 300px;
  color: rebeccapurple;
  font-weight: bold;
}

/* HOME PAGE */

.home-head{
  color: rebeccapurple ;
  font-weight: bolder;
  margin-bottom: -2em;
}
.home-img{
 
  margin: 2em;
}
.img1{
  width: 100%;
  height: 40vh;
  border: 2px solid rebeccapurple;
  padding: 5px;
  margin-top: 2em;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.load{
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  min-height: 90vh;
}

.space{
  margin-top: 2em;
  width: 100%;
  border: 1px solid salmon;
}
.pagination{
 
  display: flex;
  justify-content: center;
  
}

.error-connection{
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
 min-height: 80vh;
}

/* nexted routes */
.nested > ul {
list-style: none;
}

.nested > ul > li a{
  color: black;
  font-weight: 700;
}

@media (min-width:600px) {
  .user-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .home-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
}